<div class="flex justify-center">
  <div class="mt-3">
    <%= link_to 'Back', location_path(@location), class: "py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
</div>

<%= render 'form', visit: @visit %>

<%= link_to 'Back', location_visits_path %>
